.fira-code-normal {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  overflow-y: hidden;
  background-color: #2d2a2e;
  color: #e5d37e;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

path {
  stroke: #2d2a2e;
}

input:focus{
  outline: none;
}

.asciiButton {
  position: relative;
  z-index: 1000;
  padding: 0;
  border: none;
  background: none;
  font-family: "Fira Code", monospace;
  font-weight: bold;
  color: #e5d37e;
  transition: background-color 0.2s, color 0.1s;
  pointer-events: all;
}

.asciiButton:hover {
  background-color: #e5d37e;
  color: #2d2a2e;
}

.asciiButton:active {
  background-color: #e5d37e;
  color: #ffffff;
}

.terminalText {
  font-family: "Fira Code", monospace;
  color: #e5d37e;
}

.terminalTextBold {
  font-family: "Fira Code", monospace;
  font-weight: bold;
  color: #e5d37e;
}

.starryBackground {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.rowButton {
  margin: 10px;
  padding: 5px;
}

.locationBox {
  position: absolute;
  padding: 5px;
  bottom: 0;
  left: 0;
}

.terminalInput {
  background: none;
  border: none;
}

.table-container {
  width: 40vw;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  height: calc(40vw / 2);
}

.row.single {
  justify-content: center;
}

.outlined {
  border: 2px solid #e5d37e;
  outline: 2px solid #e5d37e;
  outline-offset: 2px;
}

.square {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin-right: 16px;
  border: 2px solid #e5d37e;
  outline: 2px solid #e5d37e;
  outline-offset: 2px;
}

.square::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.square:last-child {
  margin-right: 0;
}

.box-title {
  margin-top: 15px;
  font-weight: bold;
  display: block;
  text-align: center;
  letter-spacing: 1px;
}

.center-flex {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.hidden-content-box {
  opacity: 0;
  display: none;
  transition: opacity 0.5s ease-in-out;
  margin: 15px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

#logo-padding {
  position: relative;
  height: 250px;
  width: 100%;
}

#logo {
  position: absolute;
  color: #e5d37e;
  top: 40px;
  z-index: 10;
}

#logo-shadow {
  position: absolute;
  color: #7d7345;
  top: 40px;
  z-index: 5;
}

#sub-logo {
  position: absolute;
  color: #e5d37e;
  font-size: .75em;
  top: 140px;
}

#logo, #logo-shadow, #sub-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#piechart {
  display: inline-block;
  margin: 0 auto;
}

#gradle-health {
  margin-top: 10px;
  width: 50%;
  min-height: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
