@font-face {
  font-family: 'PixelFont';
  src: url('../fonts/PixelMplus10-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'PixelFont';
  src: url('../fonts/PixelMplus10-Bold.ttf');
  font-stretch: expanded; /* This bold font is very packed together, so we have to make it readable */
  font-weight: bold;
}

@font-face {
  font-family: 'OutlineFont';
  src: url('../fonts/fipps-regular.otf');
}

/* Disable antialiasing */
/* https://stackoverflow.com/questions/14068103/disable-antialising-when-scaling-images */
img {
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Universal support since 2021   */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
  image-rendering: pixelated;
  color: black;
}

html, body {
  font-family: 'PixelFont', sans-serif;
  font-weight: normal;
  font-size: 1.15em;
  overflow: hidden;
  background-color: #254025;
  margin: 0;
  padding: 0;
  height: 100%;
}

button {
  background-color: transparent;
  border: 4px black dashed;
  font-family: 'PixelFont', sans-serif;
  font-weight: normal;
  font-size: 1.15em;
  transition: all 0.2s ease;
}

button:hover {
  font-size: 1.20em;
}

button:active {
  font-size: 1.10em;
}

li {
  color: black;
}

p {
  color: black;
}

img {
  color: black;
}

.no-pix {
  all: unset;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 1);
  z-index: 1000;
  opacity: 1;
  transition: opacity 1s ease-out;
}

.center-text {
  text-align: center;
  vertical-align: middle;
  line-height: 100vh;
}

.outline-text {
  font-family: 'OutlineFont', sans-serif;
}

/* Cursor stalker styling from zutomayomart.net */
.star {
  position: fixed;
  top: -15px;
  left: -15px;
  width: 5px;
  height: 5px;
  background-color: #3498db;
  z-index: 2000;
  animation: star 2s ease-out forwards;
}

@keyframes star {
  0% {
    transform: translateX(0) translateY(0) scale(1);
  }

  5% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(0.2);
  }
}

canvas {
  position: absolute;
}

.map {
  position: absolute;
  top: 15%;
  right: 15%;
  width: 70%;
  height: 70%;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  object-fit: contain;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.75s ease;
}

.state {
  opacity: 1;
  z-index: 5;
  position: absolute;
  height: auto;
  transition: transform 0.3s ease, top 1s ease-in-out, left 1s ease-in-out, opacity 0.75s ease;
}

.state:hover {
  transform: scale(1.1);
  z-index: 1000;
}

.state:active {
  transform: scale(1.05);
  z-index: 1000;
  transition: transform 0.1s ease;
}

.back { z-index: 2; }
.middle { z-index: 11; }
.front { z-index: 12; }

#top {
  top: -10px;
  left: 0;
  width: 100%;
  height: 30px;
}

#bottom {
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 30px;
}

#left {
  top: 0;
  left: -10px;
  width: 30px;
  height: 100%;
}

#right {
  top: 0;
  right: -10px;
  width: 30px;
  height: 100%;
}

#state-info {
  position: absolute;
  z-index: 0;
  display: flex;
  flex-direction: row;
  top: 90px;
  left: calc(60px + max(17vw, 20vh));
  width: calc(100% - max(17vw, 20vh) - 100px);
  height: calc(100% - 130px);
  border: 4px black dashed;
}

#state-display {
  position: absolute;
  top: 40px;
  left: 40px;
  width: max(17vw, 20vh);
  height: calc(max(17vw, 20vh) + 50px);
  border: 4px black dashed;
  transition: opacity .75s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

#state-name {
  width: max(17vw, 20vh);
  height: 50px;
  color: white;
  position: absolute;
  bottom: -30px;
  transition: opacity .75s ease;
  text-shadow: -2px 2px 0 #000;
  margin-top: auto;
  text-align: center;
  max-height: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-size: calc(1vw + 1vh);
}

#info-main {
  width: 50%;
  height: calc(100% - 40px);
  text-align: center;
}

#info-graph {
  width: 50%;
  height: 100%;
  border-left: 4px black dashed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#state-graph {
  max-width: 100%;
}

#return-button {
  width: max(17vw, 20vh);
  height: 40px;
  position: absolute;
  top: calc(max(17vw, 20vh) + 110px);
  left: 40px;
}

#park-display {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 0;
}

#park-graph {
  width: 100%;
  max-width: 100%;
  object-fit: contain;
  z-index: -1;
}

#park-list-box {
  height: 25%;
  width: 100%;
  overflow-y: auto !important;
  margin-bottom: 20px;
  z-index: 1;
}

#main-title {
  font-size: 2em;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

#main-title p {
  margin: 0;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-shadow: -4px 4px 0 black;
}

#national-data {
  position: absolute;
  bottom: 40px;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  transition: opacity 0.75s ease;
}
